<?xml version="1.0" ?>
<launch>    
    <include file="$(find thormang3_p_manager)/launch/config_param.xml" />

    <arg name="imu_version" default="3dm_gx5"/>
    <arg name="use_imu" default="true"/>
    <arg name="use_lidar" default="true" />
    
    <param name="gazebo"                   value="false"    type="bool"/>
    <param name="gazebo_robot_name"        value="thormang3"/>
    
    <param name="action_file_path"         value="$(find thormang3_action_module)/data/motion_4096.bin"/>

    <!-- imu sensor package -->
    <group if="$(eval arg('imu_version') == '3dm_gx4')">
      <include file="$(find thormang3_imu_3dm_gx4)/launch/imu.launch" if="$(arg use_imu)"/>
    </group>
    <group if="$(eval arg('imu_version') == '3dm_gx5')">
      <include file="$(find microstrain_3dm_gx5_45)/launch/microstrain_thormang_gx5_25.launch" if="$(arg use_imu)"/>
    </group>
    
    <!-- lidar -->    
    <include file="$(find thormang3_description)/launch/thor_laserscan.launch" if="$(arg use_lidar)"/> 
    
    <!-- THORMANG3_P Manager -->
    <node pkg="thormang3_p_manager" type="thormang3_p_manager" name="thormang3_p_manager" output="screen"/>
    
    <!-- Robot Model & TF -->
    <include file="$(find thormang3_description)/launch/thormang3_mpc.launch"/> 
</launch>
